.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
  background-color: #f8fbfb;
  padding: 0rem;
  margin-right: 1.5rem;
  margin-left: 0.7rem;
  padding-bottom: 1rem;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  border-radius: 4px;

}


.filters {
  width: 90%
}

.filters input {
  padding-top: 1.8rem;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgba(132,140,131,0.3);
  transition: border-color 0.7s ease;
  box-shadow: none;
  background-color: #f8fbfb;
  outline: none;
  font-size: 1rem;
  color:#4E4F4D;
}

.filters .select {
    margin-top: 2rem;
}

.filters input:focus {
  border-color: rgba(68,132,206,1);

}

.filters p {
padding-top: 2rem;
font-size: 1.1rem;
color: #848c83;
}

.logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: -80px;
  margin-bottom:  20px;
}

.logo h1 {
  color: #4484CE;
  font-size: 2.5rem;
}

.logo h1 span {
  color: #ff3b3f;
}

.logo img {
    width: 7rem;
    margin: 0 1rem -0.5rem 1rem;
}

.logo + p {
  font-size: 20;
  text-align: right;
  width: 100%;
  color: #929991;
  padding-right: 40px;
}

.arrow {
  display: none;
}

.menu-bar {
  display: none;

}

.rotateImage {
  -webkit-transform:rotate(180deg);
  transform: rotate(180deg);
}


@media (max-width: 1480px) {
  .logo img {
    margin-top:1rem;
  }
}


@media (max-width: 1340px) {
  .logo h1 {
    font-size: 2rem;
  }
  .logo img {
    width: 5rem;
    margin-top: 2rem;
  }
  .logo + p {
    display: none
  }

}
@media (max-width: 1200px) {
  .menu {
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 520px;
    background-color: #f8fbfb;
    padding-top: 6rem;
    margin-left: 0rem;
    z-index: 1000;

  }

  .arrow {
    display: block;
    width: 2rem;
    height: 2rem;
  }
  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .menu-bar {
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8fbfb;
    padding: 1rem;
    z-index: 2000;
    border-radius: 3px;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);

  }

  .menu-bar h1 img {
      width: 3rem;
      padding: 0.3rem;
      margin: 0 1rem;
      padding-bottom: 0,
  }
  .menu-bar .title {
    font-size: 2.2rem;
    color: #4484CE;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .menu-bar .title span {
    color: #ff3b3f;
  }

  .hide {
    display: none;
  }
}


@media (max-width: 600px) {
  .menu {
    padding-top: 8rem;
  }
 }
