.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 520px;
  background-color: #f8fbfb;
  padding: 0.5rem;
  margin-left: 2rem;
  padding-bottom: 1rem;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  border-radius: 4px;

}

.filters {
  width: 90%
}

.filters input {
  padding-top: 1.8rem;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgba(132,140,131,0.3);
  transition: border-color 0.7s ease;
  box-shadow: none;
  outline: none;
  font-size: 1rem;
  color:#4E4F4D;
}

.filters input:focus {
  border-color: rgba(68,132,206,1);

}

.filters p {
padding-top: 2rem;
font-size: 1.1rem;
color: #848c83;
}

.logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: -80px;
  margin-bottom:  20px;
}

.logo h1 {
  color: #4484CE;
  font-size: 2.5rem;
}

.logo h1 span {
  color: #ff3b3f;
}

.logo img {
    width: 7rem;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.logo + p {
  font-size: 20;
  text-align: right;
  width: 100%;
  color: #929991;
  padding-right: 40px;
}
