html {
  font-size: 20px;
  background-color: #f8fbfb;

}

.app {
  display: flex;
  justify-content: center;
  padding: 1rem;
  padding-top: 5rem;
}


.title {
  font-family: 'Baloo Tamma';
}


@media (max-width: 1480px) {
  html {
    font-size: 16px;
  }
  .logo img {
    margin-top:2rem;
  }
}
@media (max-width: 1200px) {
  .app {
    padding-top: 6rem;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}
