.overlay:hover div.name {
  opacity: 0
}

.description {
  opacity: 0
}

.overlay:hover div.description {
  opacity: 1
}

.overlay {
  position: relative;
  max-width: 900px;
  margin: 1rem;
  cursor: help;
}

.overlay img {
  width: 100%;
  border-radius: 3px;
}


.name {
   width:100%;
   position: absolute;
   bottom: 0.1rem;
   left:0;
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   justify-content: space-between;
   border-radius: 3px;
   background: rgba(50,50,50,0.5);
   color: white;  /*  alt-color: efefef */
}

.name h1 {
  font-size: 2rem;
  padding-left: 0.5rem;
}
.name h3 {
  padding: 0.5rem;
}

.name h4 {
  font-size: 1rem;
  padding: 0.6rem;
  padding-bottom: 0.25rem;
}

.description {
   width:100%;
   position: absolute;
   top:0;
   bottom: 0;
   left:0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:flex-start;
   background: rgba(0,0,0,0.8);
   color: white;
}

.description h1 {
  padding:1rem;
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

.description p {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: justify;
  text-justify: inter-word;
  text-indent: 1.5rem;
}
